html, body {
	max-height: 100%;
}

.bg-white {
	background-color: #fff;
}

.bg-transparent {
	background-color: rgba(0, 0, 0, .5)!important;
}

.nav-transparent .nav-link {
	color: #fff;
}

.logo-img {
	height: 40px;
}

.banner {
	height: 550px;
	background-image: url('../img/banner-bg.jpg');
	background-size: cover;
	background-position-y: 10%;
}

.product-demo p {
	font-size: 1.4rem;
}

.hots .sock {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.py-10 {
	padding-top: 10rem!important;
	padding-bottom: 10rem!important;
}